@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v48-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v48-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v48-latin-600.woff2') format('woff2'),
    url('../fonts/roboto-v48-latin-600.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v48-latin-700.woff2') format('woff2'),
    url('../fonts/roboto-v48-latin-700.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v20-latin-regular.woff2') format('woff2'),
    url('../fonts/play-v20-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v20-latin-700.woff2') format('woff2'),
    url('../fonts/play-v20-latin-700.woff') format('woff');
}

:root {
  --color-primary-dark: #011c44;
  --color-primary-blue: #2b7fff;
  --color-primary-white: #fff;
}

body {
  color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h1,
h2 {
  font-family: 'Play', sans-serif;
  font-style: normal;
  font-size: 64px;
}

h2 {
  font-weight: 700;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Link-header */

.header {
  padding: 42.5px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
}

.container-title {
  text-align: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
}

.header-nav {
  display: flex;
}

.header-link-list {
  display: flex;
  gap: 56px;
}

.header-link {
  max-width: max-content;
  padding: 10.5px;
  color: var(--color-primary-dark);
  font-size: 18px;
  font-weight: 400;
}

.header-link:hover {
  color: var(--color-primary-blue);
  font-size: 18px;
  font-weight: 700;
}

.icon-list {
  display: flex;
}

.link-icon {
  width: 32px;
  height: 32px;
  color: var(--color-primary-dark);
}

.link-icon:hover svg {
  color: #2b7fff;
  transform: scale(1.1);
}

/* Beauty Zone -- Hero Section*/

h1 {
  font-size: 18px;
  color: var(--color-primary-dark);
  font-weight: 400;
}

.hero {
  margin-bottom: 16px;
}

.hero-section {
  margin-top: 123.12px;
  margin-bottom: 126.81px;
  background-image: url(./images/doctor-with-patient.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.beauty-zone {
  color: var(--color-primary-blue);
  font-family: 'Play' sans-serif;
  font-size: 140px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 0.81;
  margin-bottom: 40px;
}

.top-btn {
  color: var(--color-primary-white);
  font-size: 18px;
  font-weight: 600;
  background-color: var(--color-primary-blue);
  border: 2px solid var(--color-primary-blue);
  padding: 16px 32px;
  border-radius: 32px;
  cursor: pointer;
  padding: 16px 32px;
  margin-bottom: 14px;
}

.top-btn:hover,
.top-btn:active {
  color: var(--color-primary-dark);
  background-color: transparent;
}

.beauty-item {
  font-size: 12px;
  line-height: 1.5;
  color: #4a4a4a;
}

/* About us section */

.about-container {
  display: flex;
}

.about-us-section {
  margin-top: 39.66px;
  margin-bottom: 176px;
}

.about-us-title {
  margin-bottom: 40px;
}

.accent {
  font-family: 'Play' sans-serif;
  color: var(--color-primary-blue);
  font-size: 64px;
  font-weight: 700;
}

.about-us-text {
  margin-bottom: 40px;
}

.p-accent {
  font-weight: 600;
}

.about-us-section p {
  line-height: 1.72;
}

.face-img {
  border-radius: 328px;
}

/* why-we-section */

.why-we-section {
  margin-bottom: 96px;
}

.why-we-title {
  text-align: center;
  margin-bottom: 48px;
}

.why-we-list {
  display: flex;
  gap: 56px;
}

.why-we-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 24px 32px;
  border-radius: 32px;
  background: var(--color-primary-white);
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
}

.why-we-icon {
  margin-bottom: 8px;
  fill: currentColor;
  color: #2b7fff;
}

.why-we-text {
  max-width: 252px;
  color: #000;
  text-align: center;
  font-size: 18px;
  line-height: 1.33;
}

/* our-procedures */

.our-procedures {
  margin-bottom: 96px;
}

.procedures-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.our-procedures-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.procedures-item {
  flex-basis: calc((100% - 32px) / 3);
}

.our-procedures-list div {
  width: 100%;
  max-width: 344px;
  max-height: 456px;
}

.procedures-card {
  height: 456px;
  border-radius: 120px 4px;
  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.73) 84.61%,
    var(--color-primary-dark) 101.39%
  );
  
}

.procedures-text {
  max-width: 152px;
  color: var(--color-primary-dark);
  text-align: center;
  line-height: 1.18;
  text-align: center;
  font-family: 'Roboto' sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark); 
  background-color: transparent;
  padding: 0;
}

.carousel-arrow {
  fill: var(--color-primary-dark);
}

.carousel-button:hover {
  background-color: #2b7fff;
  border: 1px solid var(--color-primary-white);
}

.carousel-button:hover .carousel-arrow {
  fill: var(--color-primary-white);
}

/* how-to-find-section */

.how-to-find-section {
  margin-bottom: 94px;
}

.contact-container {
  display: flex;
  gap: 32px;
  align-items: stretch;
}

.contact-map {
  display: block;
  width: 100%;
  border: 0;
  border-radius: 32px;
  min-height: 481px;
}

.contact-form{
  flex-shrink: 0;
}

.form {
  padding: 48px 57px 48px 56px;
  background-color: var(--color-primary-dark);
  border-radius: 32px;
  display: grid;
  gap: 16px;
  position: relative;
}

.form-title {
  font-size: 22px;
  color: var(--color-primary-white);
}

.form-input {
  padding: 18px 32.85px;
  background-color: var(--color-primary-dark);
  border-radius: 32px;
  border: 2px solid #747272;
  color: var(--color-primary-white);
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  box-shadow: none;
  background-clip: padding-box;
}

.form-input::placeholder {
  color: var(--color-primary-white);
}

.form-input:active,
.form-input:hover {
  border: 2px solid var(--color-primary-white);
}
.accent-bottom {
  font-family: 'Roboto', sans-serif;
  color: var(--color-primary-blue);
  font-size: 22px;
  font-weight: 600;
}

.bottom-btn {
  color: var(--color-primary-white);
  font-size: 18px;
  font-weight: 600;
  background-color: var(--color-primary-blue);
  border: 2px solid var(--color-primary-blue);
  padding: 16px 32px;
  border-radius: 32px;
  cursor: pointer;
}

.policy {
  color: #747272;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.policy-link {
  color: #747272;
  font-size: 12px;
  line-height: 1.5;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

/* footer */

.footer {
  padding: 56px 101px 56px 100px;
  gap: 186px;
  background-color: var(--color-primary-dark);
  color: var(--color-primary-white);
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  display: inline-block;
}

.footer-link {
  color: var(--color-primary-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 16px;
}

.footer-link:hover {
  font-size: 16px;
  font-weight: 700;
}

.footer-link-list {
  
}

.footer-icon-list {
  display: flex;
  margin-top: 16px;
  gap: 24px;
}

.footer-icon-link svg {
  color: var(--color-primary-white);
  transition: fill 0.3s ease;
}

.footer-icon-link:hover svg {
  transform: scale(1.1);
  transition: fill 0.3s ease;
}

.politico {
  
}

.politico-link {
  text-decoration: none;
  color: var(--color-primary-white);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.politico-text {
  color: #747272;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
