@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v48-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v48-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v48-latin-600.woff2') format('woff2'),
    url('../fonts/roboto-v48-latin-600.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v48-latin-700.woff2') format('woff2'),
    url('../fonts/roboto-v48-latin-700.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v20-latin-regular.woff2') format('woff2'),
    url('../fonts/play-v20-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v20-latin-700.woff2') format('woff2'),
    url('../fonts/play-v20-latin-700.woff') format('woff');
}

:root {
  --color-primary-dark: #011c44;
  --color-primary-blue: #2b7fff;
  --color-primary-white: #fff;
}

body {
  color: var(--color-primary-dark);
  font-family: 'Poboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

h1,
h2 {
  font-family: 'Play', sans-serif;
  font-style: normal;
  font-size: 64px;
}

h2 {
  font-weight: 700;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

/* Link-header */
.link-header {
  color: var(--color-primary-dark);
  font-size: 18px;
}

.link-header:hover {
  color: var(--color-primary-blue);
  font-size: 18px;
  font-weight: 700;
}

.link-icon {
  width: 32px;
  height: 32px;
}

.link-icon:hover svg {
  fill: #2b7fff;
  transform: scale(1.1);
}

/* Beauty Zone */

h1 {
  font-family: 'Play', sans-serif;
  font-size: 18px;
  color: var(--color-primary-dark);
  font-weight: 400;
}

.hero {
  margin-bottom: 16px;
}

.hero-section {
  margin-top: 123.12px;
  margin-bottom: 126.81px;
}

.beauty-zone {
  color: var(--color-primary-blue);
  font-family: 'Play' sans-serif;
  font-size: 140px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 0.81;
  margin-bottom: 40px;
}

.top-btn {
  color: var(--color-primary-white);
  font-size: 18px;
  font-weight: 600;
  background-color: var(--color-primary-blue);
  border: 2px solid var(--color-primary-blue);
  padding: 16px 32px;
  border-radius: 32px;
  cursor: pointer;
  padding: 16px 32px;
  margin-bottom: 14px;
}

.top-btn:hover,
.top-btn:active {
  color: var(--color-primary-dark);
  background-color: transparent;
}

.beauty-item {
  font-size: 12px;
  line-height: 1.5;
  color: #4a4a4a;
}

/* About us section */

.about-us-section {
  margin-top: 39.66px;
  margin-bottom: 176px;
}

.about-us-title {
  margin-bottom: 40px;
}

.accent {
  font-family: 'Play' sans-serif;
  color: var(--color-primary-blue);
  font-size: 64px;
  font-weight: 700;
}

.about-us-text {
  margin-bottom: 40px;
}

.p-accent {
  font-weight: 600;
}


.about-us-section p {
  line-height: 1.72;
}

/* why-we-section */

.why-we-section {
  margin-bottom: 96px;
}

.why-we-title {
  margin-bottom: 48px;
}

.why-we-list {
  display: flex;
  gap: 56px;
}

.why-we-item {
  display: flex;
  flex-direction: column;
  text-align: center; 
  align-items: center;
  padding: 24px 32px;
  border-radius: 32px;
  background: var(--color-primary-white);
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
}

.why-we-icon {
  margin-bottom: 8px; 
  fill: currentColor; 
  color: #2b7fff; 
}

.why-we-text {
  color: #000;
  text-align: center;
  font-size: 18px;
  line-height: 1.33;
}

/* our-procedures */

.our-procedures {
  margin-bottom: 96px;
}

.our-procedures-list {
  display: flex;
  gap: 16px;
}

.procedures-item {
  color: var(--color-primary-dark); 
  text-align: center;
  line-height: 1.18;
  text-align: center;
  font-family: 'Roboto' sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

/* how-to-find-section */

.how-to-find-section {
  margin-bottom: 94px;
}

.contact-grid {
  display: flex;
  gap: 32px;
}

.contact-map {
  border-radius: 32px;
}

.form {
  padding:48px 57px 48px 56px;
  background-color: var(--color-primary-dark);
  border-radius: 32px;
  display:grid;
  gap:16px;
  position:relative;
}

.form-title {
  font-size: 22px;
  color: var(--color-primary-white);
}

.form-input {
  background-color: var(--color-primary-dark);
  border-radius: 32px;
  border: 2px solid var(--beauty-landing-2-5, #747272);
}

.form-input::placeholder {
  color: var(--color-primary-white);
  padding: 18px 32.85px   ;
}

.accent-bottom {
  font-family: 'Roboto' sans-serif;
  color: var(--color-primary-blue);
  font-size: 22px;
  font-weight: 600;
}

.bottom-btn {
  color: var(--color-primary-white);
  font-size: 18px;
  font-weight: 600;
  background-color: var(--color-primary-blue);
  border: var(--color-primary-blue);
  padding: 16px 32px;
  border-radius: 32px;
  cursor: pointer;
}

.policy {
  color: #747272;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.policy-link {
  color: #747272;
  font-size: 12px;
  line-height: 1.5;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

/* footer */

footer {
  background-color: var(--color-primary-dark);
  color: var(--color-primary-white);
}

.link-footer {
  text-decoration: none;
  color: var(--color-primary-white);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.link-footer:hover {
  font-weight: 700;
}

.link-icon-footer svg {
  fill: var(--color-primary-white);
  transition: fill 0.3s ease;
}

.link-icon-footer:hover svg {
  transform: scale(1.1);
  transition: fill 0.3s ease;
}

.politico {
  text-decoration: none;
  color: var(--color-primary-white);
}
